.login-form{
    display:flex;
    flex-direction: column;
    margin: 10% 30%;;
    padding:10px;
    background-color: #f0f2f5;
    offset: 25%;
    background-image: url("https://i.pinimg.com/originals/65/9a/2b/659a2bc335f31700cacba5e1f2556b1f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.username, .password{
    padding:15px;
    outline:none;
    border:none;
    margin:10px 0px;
}
.forgot-password{
    margin:10px 0px;
    text-align: center;
    color: #1877f2;;
}
.submit{
    margin:10px 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1877f2 !important;
    color:white !important;
}
.create-account{
    margin:10px 0px !important;
    background-color: #42b72a !important;
    color:white !important;
}